<taglib name="Html" />
<div id="main-content">

    <div class="main-title"><h2>控制面板</h2></div>


    <div class="admin_list" >
        <div> 选择平台：
        <select id="select_type" autocomplete="off">
            <option value="WEB">WEB</option>
            <option value="WAP">WAP</option>
            <option value="APP">APP</option>
        </select>
        </div>
        <div id="visit-count" style="height:400px;">
        </div>

        <div class="table-responsive">
            <h4>订单统计</h4>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>总订单数</th>
                    <th>总订单额</th>
                    <th>支付单数</th>
                    <th>支付额</th>
                    <th>取消单数</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="data['order']">
                    <volist name="data['order']" id="list">
                        <tr>
                            <td>{$list['setting_date']}</td>
                            <td>{$list['all_rows']}</td>
                            <td>{$list['all_total']}</td>
                            <td>{$list['pay_rows']}</td>
                            <td>{$list['pay_total']}</td>
                            <td>{$list['back_rows']}</td>

                        </tr>
                    </volist>
                    <else />
                    <tr><td colspan="10" style="color:red; text-align: center;">暂时无数据</td></tr>
                </notempty>
                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <h4>用户统计</h4>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>注册数</th>
                    <th>激活数</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="data['account']">
                    <volist name="data['account']" id="list">
                        <tr>
                            <td>{$list['setting_date']}</td>
                            <td>{$list['all_rows']}</td>
                            <td>{$list['all_rows']}</td>

                        </tr>
                    </volist>
                    <else />
                    <tr><td colspan="10" style="color:red; text-align: center;">暂时无数据</td></tr>
                </notempty>
                </tbody>
            </table>
        </div>

    </div>

</div>
<script src="__PUBLIC__/Admin/js/echarts.min.js"></script>
<script type="application/javascript">
    var visitChart = echarts.init(document.getElementById('visit-count'));
    visitChart.showLoading();
    $.get("{:U('index/ajax_get_count_visit')}").done(function (data) {
        set_visit_count(data);
    });

    $("#select_type").change(function () {
        var type = $(this).val();
        $.get("{:U('index/ajax_get_count_visit')}/type/"+type).done(function (data) {
            console.log(data);
            set_visit_count(data);
        });
    });

    function set_visit_count (data) {
        visitChart.hideLoading();
        var option = {};
        option.title  = {
            left: 'center',
            text:'访问统计'
        };
        option.toolbox = {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}

            }
        };
        option.tooltip =  {};
        option.legend = {
            left: 'left',
            data:['pv', 'uv', 'ipv']
        };
        option.xAxis = {
            data: data.date
        };
        option.yAxis = {};
        option.series = [
            {
                'name' : 'pv',
                'type': 'line',
                'data': data.pv
            },
            {
                'name' : 'uv',
                'type': 'line',
                'data': data.uv
            },
            {
                'name' : 'ipv',
                'type': 'line',
                'data': data.ipv
            }
        ];
        visitChart.setOption(option);
    }

</script>