<div id="page-content" class="register-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <volist name="breadcrumbs" id="breadcrumb">
                        <li><a href="{$breadcrumb['href']}">{$breadcrumb['title']}</a></li>
                    </volist>
                </ul>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12">
                <div>请到注册邮件中点击验证，没收邮件请联系管理员！</div>


            </div>
        </div>
    </div>
</div>