{__NOLAYOUT__}
<notempty name="data">
    <volist name="data" id="address">
        <div class="col-md-3 col-sm-4">
        <div class="addr-content <eq name="address['id']" value="$Think.session.checkout.addressId">selected</eq>" >
            <div class="addr-hd">
                <span class="prov">{$address['province_name']}</span>
                <span class="city">{$address['city_name']}</span>
                <span class="dist">{$address['district_name']}</span>
                <label><input type="radio" <eq name="address['id']" value="$Think.session.checkout.addressId">checked="true"</eq> name="address_id" value="{$address['id']}" /></label>
            </div>
            <div class="addr-bd" >
                <p class="telephone">
                    <span>{$address['telephone']}</span>
                    <span class="name">{$address['name']}（收）</span>
                </p>
                <p class="street">
                    <span class="j_4tip"></span>
                    <span >{$address['address']}</span>
                </p>
            </div>
            <div class="addr-toolbar">
                <a class="btn-update-address enable" data-url="{:U('Home/address/update',array('id'=>$address['id']))}" href="javascript:void(0);" title="修改地址">修改</a>
                <a class="btn-delete-address enable" data-url="{:U('Home/address/delete',array('id'=>$address['id']))}" data-getAddress-url="{:U('Home/checkout/ajax_get_addressList')}" href="javascript:void(0);" title="删除地址">删除</a>
                <eq name="address['id']" value="$address['address_id']">
                    <a class="btn-set-default-address disable"  href="javascript:void(0);" style="color:red;">默认地址</a>
                <else />
                    <a class="btn-set-default-address enable" data-url="{:U('Home/address/set_default_address',array('id'=>$address['id']))}" data-getAddress-url="{:U('Home/checkout/ajax_get_addressList')}" href="javascript:void(0);" title="设成默认地址">设成默认地址</a>
                </eq>
            </div>
        </div>
    </div>
    </volist>
<else />
    <div class="text-center">您还没有地址，请先添加!</div>
</notempty>