{__NOLAYOUT__}
<notempty name="data">
    <div class="widget wid-product">
        <div class="heading"><h4>最近浏览</h4></div>
        <div class="content">
            <volist name="data" id="goods">
                <div class="product">
                    <a href="{:U('Home/goods/index', array('id'=>$goods['id']))}">
                        <img src="{$goods['thumb']}" />
                    </a>
                    <div class="wrapper">
                        <h5>
                            <a href="{:U('Home/goods/index', array('id'=>$goods['id']))}">
                                {$goods['name']}
                            </a>
                        </h5>
                        <div class="price">
                            <label>￥{$goods['price']}</label>
                            <notempty name="goods['or_price']"><span>￥{$goods['or_price']}</span></notempty>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
    </div>
</notempty>
