<div id="page-content" class="cart-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <volist name="breadcrumbs" id="breadcrumb">
                        <li><a href="{$breadcrumb['href']}">{$breadcrumb['title']}</a></li>
                    </volist>
                </ul>
            </div>
        </div>
        <input type="hidden" name="get_checkout_url" value="{:U('Home/checkout/index')}" />
        <div class="cart-list">
        {$data['cartList']}
        </div>
    </div>
</div>
<div id="dialog" title="">
    <p></p>
</div>